# casual testing
c.py
video_url.txt
get-pip.py

# video streams
etx.xml
exta.xml

# video files
video_stream.webm
audio_stream.webm
video_stream.mp4
audio_stream.mp4

# gui
gui.py
default.ui

# ffmpeg
ffmpeg.exe