# casual testing
c.py
video_url.txt
get-pip.py

extract_spotify.py
.cache

# video streams
ext.xml
exta.xml

# video files
video_stream.webm
audio_stream.webm
video_stream.mp4
audio_stream.mp4
downloads/

# gui
gui.py
default.ui

# ffmpeg
ffmpeg.exe

__pycache__